doctype html
html(lang='en')
head
  title Insta
  meta(charset='UTF-8')
  meta(name='description', content='Insta')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='robots', content='index, follow')
  // Styles
  link(rel='stylesheet', href='css/style.css')