#insta
	.header-wrapper
		header
			.logo-wrapper
				.logo
					img(src="img/logo.png")
			.search-wrapper
				.search-wrapper-two
					.span-wrapper
						span.search-icon
						span.search Search
			.icons
				.icon-wrapper
					.icon1
					.icon2
					.icon3
	.deck
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 15m
			div
				video(src="https://i.imgur.com/OPSlxM0.mp4" autoplay loop)
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span This is the ANTI-VIDEO. 🙈 🙉 🙊
					li
						h1 yungjake
						span Inspired by MailChimp’s disruptive, unclassifiable, unapologetic, self-aware DNA, we’re going to drop a music video like no one has before. 
					li
						h1 yungjake
						span It will turn social media on its head and into an unexpected art form. It will be an abstract, interactive bit of tech magic that allows fans of Blood Orange and Dev Hynes to experience the debut of his new musical presence - Veil Hymn.
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 CONCEPT
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 18m
			div <iframe src="https://vine.co/v/i6j70b3eWdU/embed/simple" width="600" height="600" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span We’re calling it InstaVeil.
					li
						h1 yungjake
						span Veil Hymn + a mock social media app that mimics Instagram.
					li
						h1 yungjake
						span We will create an experience that drops the user into the world of this mock social media platform — InstaVeil — and into a *fake* feed of videos that, as the user scrolls through them, are all *magically* synced to Veil Hymn’s debut song.
					li
						h1 yungjake
						span Most of said videos feature Dev and an original choreographed dance piece that unfolds over the course of the song’s runtime (which right now is about 4:20). Some videos are BTS snippets from Dev’s producing grind. Some are purely random or abstract and do not feature Dev at all. But regardless of the content of each video, the thread is woven together by the song and Dev’s dance, personalizing the feel of the experience in a unique way for every user.
				.add-comment
					span.heart-wrapper
						span.heart#unliked
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 21m
			img(src="img/SPEAKER_GIF.gif")
			.section-footer
				.likes
					.like 1.2m likes
				ul.caption
					li
						h1 yungjake
						span 🎵
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 21m
			div <iframe width="100%" height="340" src="https://www.youtube.com/embed/XYAghEq5Lfw" frameborder="0" allowfullscreen></iframe>
			.section-footer
				.likes
					.like 58.3m likes
				ul.caption
					li
						h1 MaliaJames
						span Troy Sivan - Youth
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 22m
			img(src="img/STATUE_GIF_9.gif")
			.section-footer
				.likes
					.like 3.3m likes
				ul.caption
					li
						h1 yungjake
						span 🍦
				.add-comment
					span.heart-wrapper
						span.heart#unliked
					span.comment Add a comment...
					span.dotdot
		h3 Continuity
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 27m
			div <iframe src="https://vine.co/v/M9ZtImUYZdr/embed/simple" width="600" height="600" frameborder="0"></iframe>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span There is seamless continuity between the song and the action, as the thumb scrolls from one video post to the next. The whim of the user is what brings out the inherent magic of InstaVeil.
					li
						h1 yungjake
						span The user might decide to linger on the first post for the entire song, and if they do that post will have 4:20 of visual storytelling to support their experience. They might also quickly scroll through to the 10th video, but still the song keeps in perfect time, picking up right where the last video left off.
					li
						h1 yungjake
						span No matter how fast or slow the user decides to scroll through the anonymous yet immediate content, the Veil Hymn song never skips a beat.
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 Ambiguity
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 33m
			div <iframe src="https://vine.co/v/OLYIgxtKpd7/embed/simple" width="600" height="600" frameborder="0"></iframe>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span There is a deliberate randomness to this InstaVeil feed. The visual ambiguity from one video to the next is what gives the magic of our storytelling mechanism a boundless feeling. No location, no aesthetic, no medium can hold or define the song — or any song for that matter. That’s the takeaway from this. We are creating a social-media interpretation of a song. The mixed-medium randomness is what gives this concept its personalized and therefor limitless power.
					li
						h1 yungjake
						span We can feasibly shoot about 15 different (or more) videos, each the full length of the song. Some, again, feature Dev and clearly tying back to the song, and some are flat-out bizarre. Examples are, but not limited to:
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 SPONSORED POSTS
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 33m
			img(src="img/sponsored.jpg")
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span Throughout the feed we will have references to other projects that are part of the MailChimp campaign in the form of sponsored posts that would typically pop into your Instagram feed. Like we hear in the song, this product placement will subtly cross-referencing the campaign in a self-aware way.
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 Shooting
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 34m
			div <iframe src="https://vine.co/v/iJghQxtMzBh/embed/simple" width="600" height="600" frameborder="0"></iframe>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span The videos will be shot in many different styles and production values, ranging from DIY iPhone capture to a super-polished, high-budget aesthetic. It’s random, but the idea is to surprise the user. People will want to keep scrolling because every image is interesting and weird and beautiful in its own way, and no two are alike.
					li
						h1 yungjake
						span Each video will be very straightforward, simply edited to compel the user onward into the labyrinth of our fake feed. We want them to keep scrolling beyond the first post once they “get it,” to explore and test our mechanism.
					li
						h1 yungjake
						span Again, some videos look premium, some look user-generated, but, from an editorial standpoint, the cuts really exist between each post, not within them.
					li
						h1 yungjake
						span For example: A given video post will be the length of the song but might only be composed of one or two shots (say, closeup and wide) cutting over and over with Dev lip-syncing the entirety of the song.
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 Choreography
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 36m
			img(src="img/dance.gif" style="-webkit-user-select: none")
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span One piece will be choreographed and performed in-sync with the song. That way, as the user scrolls through the feed, they will see the piece performed throughout the different videos, making Dev’s dance, in addition to the song, the visual thread that holds everything together.<br>The choreography, like the aesthetic of the many different videos, will also be random and unexpected. There will be a plethora of setups, costumes, wardrobe, and moves that keep the user guessing from one story beat to the next. 
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
				.name
					span.name-wrapper yungjake
				span.time
					time 39m
			<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BLJ3QxNjCVR/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Blood Orange 🌹 (@devhynes)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-10-04T20:17:38+00:00">Oct 4, 2016 at 1:17pm PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span ❤️
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 Motion-Capture
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 42m
			<img style="-webkit-user-select: none" src="img/mocap.gif">
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span We will need to produce a one-day shoot to get Dev’s mo-cap performance. The data from his articulation points will be applied to numerous different videos throughout our feed, and even handed off to other artists so they can do their own thing with it. Stuff like:
					li
						h1 yungjake
						span Applied to a realist animal rendering

				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 43m
			<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BIa6tjQBwlM/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by Erik Ferguson (@fergemanden)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-07-28T21:40:41+00:00">Jul 28, 2016 at 2:40pm PDT</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span Mini versions of Dev on a tabletop or hidden in other videos
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 48m
			img(src="img/mocap1.gif")
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span
							a(href="https://vimeo.com/169599296" target="_blank") This video
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 55m
			div <iframe src="https://vine.co/v/exnA01zza1K/embed/simple" width="600" height="600" frameborder="0"></iframe>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span kytten janae
				.add-comment
					span.heart-wrapper
						span.heart#unliked
					span.comment Add a comment...
					span.dotdot
		h3 Interface
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 55m
			img(src="img/interface.jpeg")
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 yungjake
						span The mobile version is obviously the creative centerpiece of this concept.
					li
						h1 yungjake
						span Although we won’t create an entire new social network, InstaVeil will have explorable elements that make it feel vast and authentic. We will design a very convincing knockoff of the Instagram mobile app, mimicking it as close as we can to immerse the viewer in the experience. Each video post will be complete with unique (and easter-eggy) handles, captions, likes, views, pre-posted comment threads, and other hidden gems.
					li
						h1 yungjake
						span There will also be a *desktop* version that l👀 ks like instagram.com.
					li
						h1 yungjake
						span This is the non-interactive experience, where a user just sits back on youtube and watches a screen capture of someone else’s journey through the song.
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 Additional<br>References
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 57m
			div <iframe width="100%" height="340" src="https://www.youtube.com/embed/pyCkhPTU13w" frameborder="0"></iframe>
			.section-footer
				.likes
					.like 2.9m likes
				ul.caption
					li
						h1 Beck
						span IG Video
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 57m
			div <iframe style="width: 100%; height: 320px;" frameborder="0" allowfullscreen="" src="https://stage.interlude.fm/bob_dylan_flash/"></iframe>
			.section-footer
				.likes
					.like 800,000,000 likes
				ul.caption
					li
						h1 Bob Dylan
						span Like a Rolling Stone Video
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 59m
			div <iframe width="100%" height="340" src="https://www.youtube.com/embed/BC2dRkm8ATU" frameborder="0" allowfullscreen></iframe>
			.section-footer
				.likes
					.like 17.8m likes
				ul.caption
					li
						h1 Chemical Brothers
						span Wide Open ft. Beck
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot
		h3 Thanks
		.section
			header
				span.prof-pic
					img(src="https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11142967_854048724656917_1309521890_a.jpg")
				.name
					span.name-wrapper yungjake
				span.time
					time 1hr
			div <iframe width="100%" height="340" src="https://www.youtube.com/embed/UWfYs28-gyo" frameborder="0" allowfullscreen></iframe>
			.section-footer
				.likes
					.like 198,558 likes
				ul.caption
					li
						h1 yungjake
						span We are excited ro bring this social-media experience to fans and to the content-hungry social sphere at large, and also bring another fresh and unexpected layer to MailChimps outside-the-box image.
					li
						h1 -
						span @yungjake
				.add-comment
					span.heart-wrapper
						span.heart
					span.comment Add a comment...
					span.dotdot